@import "../bower_components/bourbon/core/bourbon";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/fancyBox/source/jquery.fancybox.css";
@import "../bower_components/swiper/dist/css/swiper.min.css";
@import "../bower_components/smart-app-banner/smart-app-banner.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900');

/* Bootstrap Variables Goes Here */

// Colors
//
// Grayscale and brand colors for use across Bootstrap.
// Start with assigning color names to specific hex values.
$white: #fff !default;
$black: #000 !default;
$red: #d9534f !default;
$orange: #f0ad4e !default;
$yellow: #ffd500 !default;
$green: #5cb85c !default;
$blue: #2f1f72 !default;
$teal: #5bc0de !default;
$pink: #ff5b77 !default;
$purple: #613d7c !default;
// Create grayscale
$gray-dark: #292b2c !default;
$gray: #464a4c !default;
$gray-light: #636c72 !default;
$gray-lighter: #eceeef !default;
$gray-lightest: #f7f7f9 !default;
// Reassign color vars to semantic color scheme
$brand-primary: $blue !default;
$brand-success: $green !default;
$brand-info: $teal !default;
$brand-warning: $orange !default;
$brand-danger: $red !default;
$brand-inverse: $gray-dark !default;
// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-rounded: true !default;
$enable-shadows: false !default;
$enable-gradients: false !default;
$enable-transitions: true !default;
$enable-hover-media-query: false !default;
$enable-grid-classes: true !default;
$enable-print-styles: true !default;
// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.
$spacer: 1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;
// Style anchor elements.
$link-color: $brand-primary !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color,
15%) !default;
$link-hover-decoration: underline !default;
// Fonts
//
// Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif: -apple-system,
system-ui,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
sans-serif !default;
$font-family-serif: "Roboto",
Times,
serif !default;
$font-family-monospace: Menlo,
Monaco,
Consolas,
"Liberation Mono",
"Courier New",
monospace !default;
$font-family-base: $font-family-sans-serif !default;
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg: 1.25rem !default;
$font-size-sm: .875rem !default;
$font-size-xs: .75rem !default;
$font-weight-normal: normal !default;
$font-weight-bold: bold !default;
$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5 !default;
$font-size-h1: 2.5rem !default;
$font-size-h2: 2rem !default;
$font-size-h3: 1.75rem !default;
$font-size-h4: 1.5rem !default;
$font-size-h5: 1.25rem !default;
$font-size-h6: 1rem !default;
$headings-margin-bottom: ($spacer / 2) !default;
$headings-font-family: inherit !default;
$headings-font-weight: 500 !default;
$headings-line-height: 1.1 !default;
$headings-color: inherit !default;
// Components
//
// Define common padding and border radius sizes and more.
$line-height-lg: (4 / 3) !default;
$line-height-sm: 1.5 !default;
$border-radius: .25rem !default;
$border-radius-lg: .3rem !default;
$border-radius-sm: .2rem !default;
$component-active-color: $white !default;
$component-active-bg: $brand-primary !default;
$caret-width: .3em !default;
$transition-base: all .2s ease-in-out !default;
$transition-fade: opacity .15s linear !default;
$transition-collapse: height .35s ease !default;
// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.
$btn-padding-x: 1rem !default;
$btn-padding-y: .5rem !default;
$btn-line-height: 1.25 !default;
$btn-font-weight: $font-weight-normal !default;
$btn-box-shadow: inset 0 1px 0 rgba($white,
.15),
0 1px 1px rgba($black,
.075) !default;
$btn-focus-box-shadow: 0 0 0 2px rgba($brand-primary,
.25) !default;
$btn-active-box-shadow: inset 0 3px 5px rgba($black,
.125) !default;
// Forms
$input-padding-x: .75rem !default;
$input-padding-y: .5rem !default;
$input-line-height: 1.25 !default;
$input-bg: $white !default;
$input-bg-disabled: $gray-lighter !default;
$input-color: $gray !default;
// Dropdowns
//
// Dropdown menu container and contents.
$dropdown-min-width: 10rem !default;
$dropdown-padding-y: .5rem !default;
$dropdown-margin-top: .125rem !default;
$dropdown-bg: $white !default;
$dropdown-border-color: rgba($black,
.15) !default;
$dropdown-box-shadow: 0 .5rem 1rem rgba($black,
.175) !default;
// @import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../bower_components/bootstrap/scss/bootstrap";
body {
    padding-top: 187px;
}

header {
    box-shadow: 1px 0px 3px #ddd;
    background: $white;
}

img.loading {
    text-align: center;
    opacity: 1;
    width: 32px !important;
    height: auto;
}

img {
    opacity: 0;
    @include transition(all 300ms ease);
}

img.doneLoading {
    opacity: 1;
}

nav li:hover .dropdown-menu {
    display: block;
}

#map img {
    opacity: 1;
}

a,
.btn,
[ui-sref] {
    cursor: pointer;
    @include transition(all ease 300ms);
}

footer {
    background-color: $blue;
    padding: 30px 0 10px;
    .copy {
        padding-top: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        p {
            font-size: 12px;
        }
    }
    p {
        margin: 0;
        color: #fff;
    }
    h5 {
        color: #fff;
        text-transform: uppercase;
    }
    .footer-title+* {
        margin-top: 20px;
    }
    .list>li+li {
        margin-top: 10px;
    }
    p.contant-link {
        margin-bottom: 10px;
    }
    .opening-hours {
        h5 {
            margin: 10px 0 0;
        }
    }
    a {
        color: #fff !important;
        font-size: 14px;
        &:hover {
            color: #fff;
            text-transform: none;
        }
    }
}

.card-deck {
    margin-bottom: 50px;
    .card {
        h5.card-title {
            margin: 0;
            letter-spacing: 1px;
            font-weight: 400;
        }
        img.card-img-top.doneLoading {
            border-bottom: 1px solid #ddd;
            padding: 0px;
        }
    }
}

//bootstrap forms
.input-lg,
.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn,
.btn,
.form-control {
    border-radius: 0;
    @include box-shadow(none);
}

.form-control:focus {
    border-color: $brand-primary;
    outline: 0;
    @include box-shadow(none);
}

.form-group {
    position: relative;
}

.form-invalid {
    color: $brand-danger;
    .form-control {
        border-color: $brand-danger;
        color: $brand-danger;
        &::-webkit-input-placeholder {
            color: $brand-danger;
        }
    }
}

.form-submission {
    min-height: 300px;
}

//FLEX SLIDER FIXES
.flex-direction-nav {
    a {
        height: auto;
    }
    .flex-prev {
        left: 10px !important;
    }
    .flex-next {
        right: 10px !important;
    }
}

.flex-direction-nav a:before {
    color: rgba(255, 255, 255, 0.8);
    text-shadow: none;
}

//SWIPER CSS
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    background-image: url(../img/prev.png);
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    background-image: url(../img/next.png);
}


/* Start writing sass here */

.content {
    min-height: 450px;
}

.full-img {
    width: 100%;
    display: block;
}

.hamburger {
    margin: 16px 0;
    position: absolute;
    top: 0;
    cursor: pointer;
    @include transition (all ease 300ms);
    font-family: Nunito-SemiBold;
    &:hover {
        opacity: 0.8;
    }
    .menu-title {
        padding-right: 22px;
        font-size: 22px;
        line-height: 0.6;
    }
    .menu-line {
        span {
            @include size(18px,
            2px);
            margin-bottom: 4px;
            display: block;
            border-radius: 5px;
            background-color: $black;
            @include transition (all ease 300ms);
            &.third-line {
                width: 10px;
                float: right;
            }
            &.firstbar {
                // @include transform(translate(0px, 6px)rotate(50deg));
                @include value-prefixer(transform,
                translate(0px, 6px)rotate(50deg),
                ("webkit", "moz"));
            }
            &.secondbar {
                @include value-prefixer(transform,
                translate(0px, 0px) rotate(-50deg),
                ("webkit", "moz"));
            }
            &.thirdbar {
                opacity: 0;
            }
        }
    }
}

.flexslider {
    border: none;
}

.sidemenu {
    background: $black;
    padding: 50px 0;
    position: fixed;
    top: 0;
    width: 100%;
    @include transition (all ease 300ms);
    @include value-prefixer(transform,
    translateY(-100%),
    ("webkit", "moz"));
    z-index: 5;
    ul li a {
        color: $white !important;
        font-family: Nunito-SemiBold;
        padding: 15px;
        display: block;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 2px;
        &:hover {
            color: darken($white, 20%);
            text-decoration: none;
        }
    }
    &.menu-in {
        @include value-prefixer(transform,
        (translateY(0)),
        ("webkit", "moz"));
    }
}

.h15-info-bar {
    padding: 0;
}

.bg-color {
    background: $blue;
    padding: 0rem 1rem;
    &.navbar-light .navbar-nav .show>.nav-link,
    &.navbar-light .navbar-nav .active>.nav-link,
    &.navbar-light .navbar-nav .nav-link.show,
    &.navbar-light .navbar-nav .nav-link.active {
        color: $gray-dark;
        background: $white;
    }
    &.navbar-light .nav-link {
        padding: 1rem;
        letter-spacing: 1px;
        color: $white;
    }
}

h1.title {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin: 0;
    color: $purple;
}

span.color-blue {
    color: $blue;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    background: $white;
    margin-left: 1px;
}

.ticker1 {
    .list {
        padding: 10px 20px;
        border-bottom: 1px solid #ddd;
        display: block;
        a {
            color: #0c8ccb;
        }
    }
    .innerWrap {
        width: 100%;
    }
}

.mb20 {
    margin-bottom: 20px;
}

.title-bar {
    padding: 8px 20px;
    background: #362576;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    .title {
        font-size: 20px;
        letter-spacing: 1px;
    }
}

.objectives {
    ul {
        padding: 0;
        list-style: none;
        margin: 0;
        li {
            padding: 8px 15px;
            border-bottom: 1px solid #ddd;
        }
    }
}

.schemes {
    padding: 40px 0 100px;
    .img-holder {
        padding: 40px;
        width: 65%;
        margin: 0 auto;
        border-radius: 50%;
        border: 5px solid #ddd;
        cursor: pointer;
        img {
            fill: grey;
        }
        &:hover {
            @include value-prefixer(transition,
            (all ease 300ms),
            ("webkit", "moz"));
            padding: 32px;
            border-color: $blue;
        }
    }
    .fig-title {
        font-size: 16px;
        padding-top: 20px;
        letter-spacing: 1px;
        font-weight: 600;
    }
    ul {
        padding: 5px 10px;
        li {
            padding: 5px 10px;
            text-align: center;
        }
    }
}

//container-home
.content_info {
    position: relative;
    width: 100%;
    background: #fff;
    overflow: hidden;
    .content_resalt {
        background-color: #dedede;
        background: rgba(217, 217, 217, 0.15);
    }
    .borders {
        border-top: 1px solid rgba(217, 217, 217, 0.6);
        border-bottom: 1px solid rgba(217, 217, 217, 0.6);
    }
    .title-vertical-line {
        text-align: center;
        position: relative;
        &:before {
            content: '';
            left: 50%;
            position: absolute;
            top: -100px;
            height: 80px;
            border: dashed 1px #232323;
            opacity: 0.6;
        }
        &:after {
            content: '';
            position: absolute;
            top: -23px;
            left: 50%;
            margin-left: -5px;
            border-radius: 50%;
            width: 12px;
            height: 12px;
            background: #da6600;
        }
        h2 {
            margin-top: 100px;
            padding: 5px 0 15px 0;
            color: #32373e;
            font-weight: normal;
            font-size: 1.875rem;
            line-height: 2.5rem;
            color: #533ead;
            letter-spacing: 2px;
        }
        p,
        ul li {
            color: #777;
        }
    }
}

.padding-bottom {
    padding-bottom: 60px;
}

.content_resalt {
    background-color: #dedede;
    background: rgba(217, 217, 217, 0.15);
}

.paddings {
    padding: 60px 0;
}

.mr5 {
    margin-right: 5px;
}

.item-service-process {
    display: inline-block;
    width: 39.2%;
    margin-left: -100px;
    text-align: center;
    position: relative;
    .head-service-process {
        position: relative;
        width: 70%;
        min-height: 150px;
        padding: 30px 0;
        text-align: center;
        margin: 0 auto;
        &:before {
            content: '';
            right: -70px;
            position: absolute;
            top: 0;
            height: 100%;
            z-index: 1;
            border-top: 75px solid transparent;
            border-bottom: 72px solid transparent;
        }
        &:after {
            content: '';
            left: 0px;
            position: absolute;
            top: 0;
            height: 100%;
            border-top: 75px solid transparent;
            border-bottom: 72px solid transparent;
            border-left: 70px solid #fff;
        }
        h3 {
            color: #fff;
            font-weight: bold;
            font-size: 1.3rem;
            margin-left: 70px;
        }
        i {
            color: #fff;
            font-weight: bold;
            font-size: 1.8rem;
            margin-left: 70px;
        }
    }
}

.divisor-service-process {
    position: relative;
    height: 100px;
    margin: 0 auto;
    margin-left: 58%;
    border: dashed 1px #777;
    width: 1px;
    .circle-top {
        position: absolute;
        top: -25px;
        left: 50%;
        margin-left: -20px;
        border-radius: 50%;
        width: 40px;
        font-size: 0.875rem;
        font-weight: bold;
        height: 40px;
        background: #fff;
        color: #666;
        line-height: 2.1rem;
    }
    .circle {
        background: #f26e24 !important;
        background-color: #f26e24 !important;
    }
    .circle {
        position: absolute;
        bottom: -3px;
        left: 50%;
        margin-left: -6px;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        background: #777;
    }
}

.info-service-process {
    position: relative;
    width: 80%;
    padding: 10px 0 0 40px;
    text-align: center;
    margin: 0 auto;
    p {
        margin: 0 0 20px 0;
        color: #6a6a6a;
        font-size: 0.875rem;
    }
}

.head-service-process h3 {
    color: #fff;
    font-weight: bold;
    font-size: 1.3rem;
    margin-left: 70px;
    line-height: 2.125rem;
}

.color-bg-1 .head-service-process,
.item-financial-content.color-bg-1,
.table thead .color-bg-1 {
    background: #88C425 !important;
}

.color-bg-1 .head-service-process:before {
    border-left: 70px solid #88C425;
}

.color-bg-1 .divisor-service-process .circle-top {
    border: solid 3px #88C425;
}

.color-bg-1 .info-service-process h3,
.mini-box .color-bg-1 i,
.color-dark-table.color-bg-1 {
    color: #88C425 !important;
}

.color-bg-2 .head-service-process,
.item-financial-content.color-bg-2,
.table thead .color-bg-2 {
    background: #15a4d3 !important;
}

.color-bg-2 .info-service-process h3,
.mini-box .color-bg-2 i,
.color-dark-table.color-bg-2 {
    color: #15a4d3;
}

.color-bg-2 .divisor-service-process .circle-top {
    border: solid 3px #15a4d3;
}

.color-bg-2 .head-service-process:before {
    border-left: 70px solid #15a4d3;
}

.color-bg-3 .info-service-process h3,
.mini-box .color-bg-3 i,
.color-dark-table.color-bg-3 {
    color: #EB4436;
}

.color-bg-3 .head-service-process,
.item-financial-content.color-bg-3,
.table thead .color-bg-3 {
    background: #EB4436 !important;
}

.color-bg-3 .divisor-service-process .circle-top {
    border: solid 3px #EB4436;
}

.color-bg-3 .head-service-process:before {
    border-left: 70px solid #EB4436;
}

.color-bg-4 .head-service-process,
.item-financial-content.color-bg-4,
.table thead .color-bg-4 {
    background: #34A853 !important;
}

.color-bg-4 .divisor-service-process .circle-top {
    border: solid 3px #34A853;
}

.color-bg-4 .head-service-process:before {
    border-left: 70px solid #34A853;
}

.color-bg-4 .info-service-process h3,
.mini-box .color-bg-4 i,
.color-dark-table.color-bg-4 {
    color: #34A853;
}

.item-service-process:first-child,
.item-service-process:nth-child(4n+1) {
    margin-left: -55px;
}

//header-box
.header-box {
    max-height: 400px;
    padding: 0px 0 0 0;
    background-color: #262626;
    position: relative;
    width: 100%;
    overflow: hidden;
    .title-header {
        padding: 0;
        margin: 50px 0;
        h4 {
            font-size: 30px;
            color: #fff;
            font-weight: normal;
            font-size: 2.5rem;
            line-height: 3rem;
            letter-spacing: 2px;
        }
    }
}

//committee
.team-body {
    h6 {
        margin-bottom: 2px;
        font-size: 15px;
    }
    p {
        color: #2f00ff;
        font-size: 15px;
    }
}

//breadcrums
.breadcrumbs {
    background-color: #dedede;
    background: rgba(217, 217, 217, 0.2);
    border: 1px solid rgba(217, 217, 217, 0.7);
    overflow: auto;
    padding: 0;
    ul {
        padding: 0;
        margin: 0;
        li {
            float: left;
            font-size: 0.75rem;
            line-height: 1.375rem;
            padding: 10px 5px;
            margin: 0;
            position: relative;
        }
    }
    .breadcrumbs-home {
        background: rgb(219, 219, 219);
        padding: 5px 10px 5px 15px !important;
        margin-right: 25px;
        font-size: 1.3rem;
        line-height: 2rem;
        color: #fff;
        a {
            color: #666;
            i {
                color: #2f1f72 !important;
            }
        }
         :after {
            content: '';
            position: absolute;
            top: 0;
            right: -18px;
            height: 100%;
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
            border-left: 18px solid rgb(219, 219, 219);
        }
    }
}

.lead {
    font-size: 1.25rem;
    font-weight: 400;
}

//about
.content_info {
    h2 {
        padding: 5px 0 15px 0;
        margin: 0;
        color: #32373e;
        font-weight: normal;
        font-family: 'Open Sans', sans-serif;
        -webkit-font-smoothing: antialiased;
    }
    ul li {
        line-height: 150%;
        color: #777;
    }
}

//tabel
.table-primary,
.table-primary>th,
.table-primary>td {
    background-color: #2f1f72;
    color: #fff;
}

//card
.card-pad {
    padding: 1rem 1rem 0;
}

.color-blue {
    color: $blue;
}

.custom-panel {
    .panel-title {
        margin: 0;
        padding: 12px 20px;
        background: #2f1f72;
        border-bottom: 1px solid #fff;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 1px;
        a {
            display: block;
            color: #fff;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .panel-collapse {
        padding: 10px 20px;
    }
}

.tab-custom {
    .tab-content {
        padding: 15px 0px;
    }
    .nav-tabs .nav-link {
        background: #2f1f72;
        color: #fff;
        border-radius: 0px;
        border-right: 1px solid #fff;
    }
}

@import "fancybox-override";
@import "bootstrapui-fixes";
@import "mobile";