<!--<div class="header-box">
    <div class="title-header text-center">
        <h4 class="text-uppercase">About</h4>
    </div>
</div>-->
<div class="breadcrumbs breadcrumbs-sections">
    <div class="container">
        <ul class="list-unstyled">
            <li class="breadcrumbs-home">
                <a ui-sref="home" title="Back To Home">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li>About</li>
        </ul>
    </div>
</div>
<h1 align="center" class="lead text-uppercase text-center" style="padding:0; margin:50px 0; font-size:2rem;letter-spacing: 2px;">About</h1>
<div class="about">
    <div class="container">
        <div class="about-img">
            <img src="img/about.jpg" alt="" class="img-fluid">
        </div>
    </div>
    <div>
        <div class="content_info">

            <!-- Info Resalt-->
            <div class="">
                <!-- title-vertical-line-->
                <div class="paddings">
                    <div class="container">
                        <h2>OBJECTIVE</h2>
                        <ul class="list-unstyled">
                            <li>To encourage co-operation amongst the members
                            </li>
                            <li>To enable its members to obtain loans on reasonable terms
                            </li>
                            <li>To enable members to save of their income in a safe and convenient way</li>
                            <li>To lend money from funds to be created by means specified hereinafter with interest to the members
                                of the Society</li>
                            <li>To create a welfare fund for the staff as well as for the members of the Society</li>
                            <li>To grant loans to purchase utility articles under Special Loan scheme of the Society</li>
                            <li>To do such other things incidental or conducive to the attainment of all or any of the above
                                objects
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- Info Resalt-->
                <!------For Gray BG------>
            </div>
            <!-- End Info Resalt-->
        </div>
        <div class="content_info content_resalt">
            <div class="">
                <!-- Info Resalt-->
                <div class="">
                    <!-- title-vertical-line-->
                    <div class="paddings">
                        <div class="container">
                            <h2>FUNDS</h2>
                            <h6>Funds shall be raised by all or any of the following ways:</h6>
                            <ul class="list-unstyled">
                                <li>Issue of Shares</li>
                                <li>Entrance Frees</li>
                                <li>Deposits form members</li>
                                <li>Monthly Subscription</li>
                                <li>Loans</li>
                                <li>Donations and Gifts</li>
                                <li>Share capital contribution and other forms of state aid, subject to the provisions of the
                                    Maharashtra Co-operative Societies Act 1960 and the Rules there under</li>
                            </ul>
                        </div>

                    </div>
                    <!-- Info Resalt-->
                    <!------For Gray BG------>
                </div>
                <!-- End Info Resalt-->
            </div>
        </div>
        <div class="content_info">

            <!-- Info Resalt-->
            <div class="">
                <!-- title-vertical-line-->
                <div class="paddings">
                    <div class="container">
                        <h2>MEMBERSHIP</h2>
                        <h6>No person shall be a member unless</h6>
                        <ul class="list-unstyled">
                            <li>He is regular employee in
                                <a href="http://www.barc.ernet.in">Bhabha Atomic Research Centre</a>,
                                <a href="http://www.dae.org.in">Department of Atomic Energy</a> and its constituents units including aided institutes</li>
                            <li>His application in the prescribed form for membership has been approved by the Managing Committee</li>
                            <li>He has paid an entry fee of Rs. 100/-</li>
                            <li>He has either Purchased one share and paid his first monthly subscription under Bye-law D3.2</li>
                            <li>He gives in writing an irrevocable authority in prescribed to his employer to recover by deduction
                                through his salary dues payable by him to the Society</li>
                        </ul>
                    </div>

                </div>
                <!-- Info Resalt-->
                <!------For Gray BG------>
            </div>
            <!-- End Info Resalt-->
        </div>

        <div class="content_info content_resalt ">

            <!-- Info Resalt-->
            <div class="">
                <!-- title-vertical-line-->
                <div class="paddings">
                    <div class="container">
                        <h2>BUSINESS PROCEDURES</h2>
                        <h6>A member shall be eligible for four type of loans as follows:</h6>
                        <ul class="list-unstyled">
                            <li>Ordinary Loan</li>
                            <li>Special loan</li>
                            <li>Emergency Loan</li>
                            <li>Advance against Deposits</li>
                        </ul>
                    </div>

                </div>
                <!-- Info Resalt-->
                <!------For Gray BG------>
            </div>
            <!-- End Info Resalt-->
        </div>
    </div>
</div>
</div>