<div class="header-box">
    <div class="title-header text-center">
        <h4 class="text-uppercase">Management Committee</h4>
    </div>
</div>
<div class="breadcrumbs breadcrumbs-sections">
    <div class="container">
        <ul class="list-unstyled">
            <li class="breadcrumbs-home">
                <a ui-sref="home" title="Back To Home">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li>Committee</li>
        </ul>
    </div>
</div>
<h1 align="center" class="lead text-uppercase text-center" style="padding:0; margin:50px 0; font-size:2rem;letter-spacing: 2px;">Management Committee</h1>
<div class="committee paddings">
    <div class="team">
        <div class="container">
            <div class="row justify-content-md-center">
                <!--<div class="card-deck mb20">-->
                <div class="col-md-3">
                    <div class="card  mb20">
                        <img class="card-img-top" src="img/team/1.jpg" class="img-responsive" alt="Card image cap">
                        <div class="card-body">
                            <div class="team-body">
                                <h6 class="card-title text-center text-uppercase">SHRI ANANT S. VAJAREKAR</h6>
                                <p class="card-content text-center text-uppercase">President</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card  mb20">
                        <img class="card-img-top" src="img/team/2.jpg" class="img-responsive" alt="Card image cap">
                        <div class="card-body">
                            <div class="team-body">
                                <h6 class="card-title text-center text-uppercase">SHRI K K DANGE</h6>
                                <p class="card-title text-center text-uppercase">Vice-President</p>
                            </div>
                        </div>
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>