<!--<div class="header-box">
    <div class="title-header text-center">
        <h4 class="text-uppercase">Management Committee</h4>
    </div>
</div>-->
<div class="breadcrumbs breadcrumbs-sections">
    <div class="container">
        <ul class="list-unstyled">
            <li class="breadcrumbs-home">
                <a ui-sref="home" title="Back To Home">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li>Committee</li>
        </ul>
    </div>
</div>
<!-- <h1 align="center" class="lead text-uppercase text-center" style="padding:0; margin:50px 0; font-size:2rem;letter-spacing: 2px;">Management Committee</h1> -->
<h1 align="center" class="lead text-uppercase text-center" style="padding:0; margin:50px 0; font-size:2rem;letter-spacing: 2px;">
        Ex-Officials 
</h1>
<h1 align="center" class="lead text-uppercase text-center" style="padding:0; margin:50px 0 0; font-size:2rem;letter-spacing: 2px;">
        Board of Directors 
</h1>
<div class="committee paddings">
    <div class="team">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-3">
                    <div class="card  mb20">
                        <img class="card-img-top" src="img/team/person.png" class="img-responsive" alt="Card image cap">
                        <div class="card-body card-pad">
                            <div class="team-body">
                                <h6 class="card-title text-center text-uppercase">SHRI ANANT S. VAJAREKAR</h6>
                                <p class="card-content text-center text-uppercase">President</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card  mb20">
                        <img class="card-img-top" src="img/team/person.png" class="img-responsive" alt="Card image cap">
                        <div class="card-body card-pad">
                            <div class="team-body">
                                <h6 class="card-title text-center text-uppercase">SHRI K K DANGE</h6>
                                <p class="card-title text-center text-uppercase">Vice-President</p>
                            </div>
                        </div>
                        <!--</div>-->
                    </div>
                </div>
            </div>

<!-- <div class="pd20">
        <h4 class="text-center">Board of Directors</h4>
</div> -->
            <div class="row justify-content-md-center">
                <div class="col-md-3">
                    <div class="card  mb20">
                        <img class="card-img-top" src="img/team/RPMADGAONKAR.jpg" class="img-responsive" alt="R P MADGAONKAR">
                        <div class="card-body card-pad">
                            <div class="team-body">
                                <h6 class="card-title text-center text-uppercase">SHRI Rajendra Madgaokar</h6>
                                <p class="card-content text-center text-uppercase">Chairman</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card  mb20">
                        <img class="card-img-top" src="img/team/SANJAYGAWANDE.jpg" class="img-responsive" alt="SANJAY GAWANDE">
                        <div class="card-body card-pad">
                            <div class="team-body">
                                <h6 class="card-title text-center text-uppercase">SHRI sanjay R. Gawande</h6>
                                <p class="card-title text-center text-uppercase">Hon. Secretary</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="card">
    
</div>-->
            <div class="row justify-content-md-center">
                <div class="col-md-3">
                    <div class="card  mb20">
                        <img class="card-img-top" src="img/team/TRIPTI.jpg" class="img-responsive" alt="Tripti Mukherji">
                        <div class="card-body card-pad">
                            <div class="team-body">
                                <h6 class="card-title text-center text-uppercase">Mrs. Tripti Mukherji</h6>
                                <p class="card-content text-center text-uppercase">Vice Chairman</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card  mb20">
                        <img class="card-img-top" src="img/team/AMRAPALIMORE.jpg" class="img-responsive" alt="AMRAPALI MORE">
                        <div class="card-body card-pad">
                            <div class="team-body">
                                <h6 class="card-title text-center text-uppercase">Smt. Amrapali A. More</h6>
                                <p class="card-title text-center text-uppercase">Treasurer</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card  mb20">
                        <img class="card-img-top" src="img/team/SRSONI.jpg" class="img-responsive" alt="S R SONI">
                        <div class="card-body card-pad">
                            <div class="team-body">
                                <h6 class="card-title text-center text-uppercase">SHRI S R Soni</h6>
                                <p class="card-content text-center text-uppercase">Joint Secretary</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card  mb20">
                        <img class="card-img-top" src="img/team/SACHINUSARKAR.jpg" class="img-responsive" alt="SACHIN USARKAR">
                        <div class="card-body card-pad">
                            <div class="team-body">
                                <h6 class="card-title text-center text-uppercase">SHRI Sachin G Usarkar</h6>
                                <p class="card-title text-center text-uppercase">Director</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card  mb20">
                        <img class="card-img-top" src="img/team/NKATTRI.jpg" class="img-responsive" alt="Naresh Kumar Attri">
                        <div class="card-body card-pad">
                            <div class="team-body">
                                <h6 class="card-title text-center text-uppercase">SHRI Naresh Kumar Attri</h6>
                                <p class="card-content text-center text-uppercase">Director</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card  mb20">
                        <img class="card-img-top" src="img/team/MUKUNDBHASKAR.jpg" class="img-responsive" alt="MUKUND BHASKAR">
                        <div class="card-body card-pad">
                            <div class="team-body">
                                <h6 class="card-title text-center text-uppercase">SHRI M.A.Bhaskar</h6>
                                <p class="card-title text-center text-uppercase">Director</p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-3">
                    <div class="card  mb20">
                        <img class="card-img-top" src="img/team/Kakade.jpg" class="img-responsive" alt="Vijay D. Kakade">
                        <div class="card-body card-pad">
                            <div class="team-body">
                                <h6 class="card-title text-center text-uppercase">SHRI Vijay D. Kakade</h6>
                                <p class="card-title text-center text-uppercase">Director</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card  mb20">
                        <img class="card-img-top" src="img/team/GAIKWAD.jpg" class="img-responsive" alt="Umesh K. Gaikwad">
                        <div class="card-body card-pad">
                            <div class="team-body">
                                <h6 class="card-title text-center text-uppercase">SHRI Umesh K. Gaikwad</h6>
                                <p class="card-title text-center text-uppercase">Director</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card  mb20">
                        <img class="card-img-top" src="img/team/JGPAWAR.jpg" class="img-responsive" alt="J G PAWAR">
                        <div class="card-body card-pad">
                            <div class="team-body">
                                <h6 class="card-title text-center text-uppercase">SHRI J.G.Pawar</h6>
                                <p class="card-title text-center text-uppercase">Director</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                        <div class="card  mb20">
                            <img class="card-img-top" src="img/team/SUNILKHAKSE.jpg" class="img-responsive" alt="SUNIL KHAKSE">
                            <div class="card-body card-pad">
                                <div class="team-body">
                                    <h6 class="card-title text-center text-uppercase">SHRI Sunil N. Khakse</h6>
                                    <p class="card-title text-center text-uppercase">Director</p>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="col-md-3">
                    <div class="card  mb20">
                        <img class="card-img-top" src="img/team/DMORE.jpg" class="img-responsive" alt="Dnyneshwar R. More">
                        <div class="card-body card-pad">
                            <div class="team-body">
                                <h6 class="card-title text-center text-uppercase">SHRI Dnyneshwar R. More</h6>
                                <p class="card-title text-center text-uppercase">Director</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card  mb20">
                        <img class="card-img-top" src="img/team/person.png" class="img-responsive" alt="C.C.Bagal">
                        <div class="card-body card-pad">
                            <div class="team-body">
                                <h6 class="card-title text-center text-uppercase">&nbsp;</h6>
                                <p class="card-title text-center text-uppercase">&nbsp;</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card  mb20">
                        <img class="card-img-top" src="img/team/R.K.MORE.jpg" class="img-responsive" alt="R.K.MORE">
                        <div class="card-body card-pad">
                            <div class="team-body">
                                <h6 class="card-title text-center text-uppercase">SHRI R. K. More</h6>
                                <p class="card-title text-center text-uppercase">Functional Director</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card  mb20">
                        <img class="card-img-top" src="img/team/BAGAL.jpg" class="img-responsive" alt="C.C.BAGAL">
                        <div class="card-body card-pad">
                            <div class="team-body">
                                <h6 class="card-title text-center text-uppercase">SHRI C.C.BAGAL</h6>
                                <p class="card-title text-center text-uppercase">Expert Director</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>