<div class="header-box">
    <div class="title-header text-center">
        <h4 class="text-uppercase">Contact Us</h4>
    </div>
</div>
<div class="breadcrumbs breadcrumbs-sections">
    <div class="container">
        <ul class="list-unstyled">
            <li class="breadcrumbs-home">
                <a ui-sref="home" title="Back To Home">
                                  <i class="fa fa-home"></i>
                                </a>
            </li>
            <li>Contact Us</li>
        </ul>
    </div>
</div>
<h1 align="center" class="lead text-uppercase text-center" style="padding:0; margin:50px 0; font-size:2rem;letter-spacing: 2px;">Contact Us</h1>
<div class="about">
    <div class="container">
        <div class="about-img">
            <img src="img/contact-us.jpg" alt="" class="img-fluid">
        </div>
    </div>
    <div>
        <div class="content_info">

            <!-- Info Resalt-->
            <div class="">
                <!-- title-vertical-line-->
                <div class="paddings">
                    <div class="container">
                        <h2>Loan Scheme</h2>
                        <ul class="list-unstyled">
                            <li>Any further information can be obtain from the <a ui-sref="home">Society
            Office</a>.
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- Info Resalt-->
                <!------For Gray BG------>
            </div>
            <!-- End Info Resalt-->
        </div>
        <div class="content_info content_resalt">
            <div class="">
                <!-- Info Resalt-->
                <div class="">
                    <!-- title-vertical-line-->
                    <div class="paddings">
                        <div class="container">
                            <h2>Savings Contact Us</h2>
                            <div class="row">
                                <div class="col-md-5">
                                    <h6>Savings</h6>
                                    <p>(Salary deduction Facility)</p>
                                </div>
                                <div class="col-md-2">
                                    <div class="per">
                                        4%
                                    </div>
                                </div>
                            </div>
                            <!--<ul class="list-unstyled">
                                <li>Issue of Shares</li>
                                <li>Entrance Frees</li>
                                <li>Deposits form members</li>
                                <li>Monthly Subscription</li>
                                <li>Loans</li>
                                <li>Donations and Gifts</li>
                                <li>Share capital contribution and other forms of state aid, subject to the provisions of the
                                    Maharashtra Co-operative Societies Act 1960 and the Rules there under</li>
                            </ul>-->

                            <table align="center" class="table  table-hover table-responsive">

                                <thead>
                                    <tr class="table-primary">
                                        <td scope="col">
                                            <div align="center"><strong>Scheme</strong></div>
                                        </td>
                                        <td scope="col">
                                            <div align="center"><strong>Terms</strong></div>
                                        </td>
                                        <td scope="col">
                                            <div align="center"><strong>ROI (%)</strong></div>
                                        </td>
                                        <td scope="col">
                                            <div align="center"><strong>With effect form </strong></div>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div align="center"><strong>TERM DEPOSIT</strong></div>
                                        </td>
                                        <td>
                                            <div align="center">3-6 Months</div>
                                            <div align="center">7-11 Months</div>
                                        </td>
                                        <td>
                                            <div align="center">6.50%</div>
                                            <div align="center">7.50%</div>
                                        </td>
                                        <td>
                                            <div align="center">01/12/2015</div>
                                            <div align="center">01/12/2015</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div align="center"><strong>FIX DEPOSIT</strong></div>
                                        </td>
                                        <td>
                                            <div align="center">1 Year</div>
                                            <div align="center">2 Years</div>
                                            <div align="center">3 Years</div>
                                        </td>
                                        <td>
                                            <div align="center">9.50%</div>
                                            <div align="center">9.25%</div>
                                            <div align="center">9.00%</div>
                                        </td>
                                        <td>
                                            <div align="center">01/12/2015</div>
                                            <div align="center">01/12/2015</div>
                                            <div align="center">01/12/2015</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div align="center"><strong>RECURRING DEPOSIT</strong></div>
                                        </td>
                                        <td>
                                            <div align="center">1 Year</div>
                                            <div align="center">2 Years</div>
                                            <div align="center">3-10 Years</div>
                                        </td>
                                        <td>
                                            <div align="center">7.25%</div>
                                            <div align="center">7.75%</div>
                                            <div align="center">8.00%</div>
                                        </td>
                                        <td>
                                            <div align="center">01/12/2008</div>
                                            <div align="center">01/12/2008</div>
                                            <div align="center">01/12/2008</div>
                                        </td>
                                    </tr>


                                </tbody>
                        </div>

                    </div>
                    <!-- Info Resalt-->
                    <!------For Gray BG------>
                </div>
                <!-- End Info Resalt-->
            </div>
        </div>
    </div>
</div>
</div>