<div class="breadcrumbs breadcrumbs-sections">
    <div class="container">
        <ul class="list-unstyled">
            <li class="breadcrumbs-home">
                <a ui-sref="home" title="Back To Home">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li>Downloads</li>
        </ul>
    </div>
</div>
<h1 align="center" class="lead text-uppercase text-center" style="padding:0; margin:50px 0; font-size:2rem;letter-spacing: 2px;">Downloads</h1>
<div class="downloads">
    <div class="container">
        <div class="about-img">
            <img src="img/download.jpg" alt="" class="img-fluid">
        </div>
        <div class="download-content paddings">
            <table class="table table-responsive">
                <thead>
                    <tr class="table-primary">
                        <th>
                            <b>Details</b>
                        </th>
                        <th>
                            <b>Download Link</b>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td align="left"> KYC Form</td>
                        <td>
                            <b>
                                <a href="KYC%20FORM.pdf" target="_blank">English</a>
                            </b>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" class="text-uppercase">Student Felicitation Application Form (Year: 2016-2017)</td>
                        <td>
                            <b>
                                <a href="Felicitation_form_English_March-2017.pdf" target="_blank">English</a>
                                <br>
                                <a href="Felicitation_form_Marathi_March-2017.pdf" target="_blank">Marathi</a>
                            </b>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-uppercase">APPLICATION FORM FOR DEPOSITS IN TD/FD Receipt</td>
                        <td>
                            <b>
                                <a href="FD_TD_Application.pdf" target="_blank">English</a>
                            </b>
                        </td>
                    </tr>
                    <tr>
                        <td>ENHANCEMENT&nbsp; (INCREASE / REDUCE) THE MONTHLY DEDUCTION FORM&nbsp;</td>
                        <td>
                            <b>
                                <a href="inhancement .pdf" target="_blank">English</a>
                            </b>
                        </td>
                    </tr>
                    <tr>
                        <td>RECURRING DEPOSIT ACCOUNT OPENING FORM</td>
                        <td>
                            <b>
                                <a href="Recurring.pdf" target="_blank">English</a>
                            </b>
                        </td>
                    </tr>
                    <tr>
                        <td>BALBHAVISHYA(900) ACCOUNT OPENING FORM</td>
                        <td>
                            <b>
                                <a href="Balbhavishya_900.pdf" target="_blank">English</a>
                            </b>
                        </td>
                    </tr>
                    <tr>
                        <td>BALBHAVISHYA(1800) ACCOUNT OPENING FORM</td>
                        <td>
                            <b>
                                <a href="Balbhavishya_1800.pdf" target="_blank">English</a>
                            </b>
                        </td>
                    </tr>
                    <tr>
                        <td>PARMANU SCHEME FORM</td>
                        <td>
                            <b>
                                <a href="parmanu.pdf" target="_blank">English</a>
                            </b>
                        </td>
                    </tr>
                    <tr>
                        <td>LAKHAPATI SCHEME FORM</td>
                        <td>
                            <b>
                                <a href="Lakhapati.pdf" target="_blank">English</a>
                            </b>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-uppercase">Final Settlement Voucher</td>
                        <!-- <td>
                            <b>
                                <a href="Lakhapati.pdf" target="_blank">English</a>
                            </b>
                        </td> -->
                    </tr>
                    <tr>
                        <td class="text-uppercase">Indemnity Bond</td>
                        <td>
                            <b>
                                <a href="" target="_blank">English</a>
                                <br>
                                <a href="" target="_blank">Marathi</a>
                            </b>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>