<div>
    <flex-slider flex-slide="s in mySlides track by $index" prev-text="" next-text="">
        <li class="min-height-slider" style="background:url({{s}})no-repeat center center;background-size:cover;">
            <!-- <img ng-src="{{s}}" class="img-fluid"> -->
        </li>
    </flex-slider>
    <div class="container">
        <div class="ticker paddings">
            <div class="row">
                <div class="col-md-6">
                    <div class="title-bar">
                        <div class="title text-uppercase">
                            Objectives
                        </div>
                    </div>
                    <div class="card">
                        <div class="objectives">
                            <div class="ticker1">
                                <ul class="innerWrap">
                                    <li class="list">To encourage co-operation amongst the members
                                    </li>
                                    <li class="list">To enable its members to obtain loans on reasonable terms
                                    </li>
                                    <li class="list">To enable members to save of their income in a safe and convenient way</li>
                                    <li class="list">To lend money from funds to be created by means specified hereinafter with interest to
                                        the members of the Society</li>
                                    <li class="list">To create a welfare fund for the staff as well as for the members of the Society</li>
                                    <li class="list">To Ran loans to purchase utility articles under Special Loan scheme of the Society </li>
                                    <li class="list">To do such other things incidental or conductive to the attainment of all or any of the
                                        above objects
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb20">
                        <div class="title-bar">
                            <div class="title text-uppercase">
                                NEWS &amp; UPDATES
                            </div>
                        </div>
                        <div class="card">
                            <div class="ticker1" easy-tickers>
                                <div class="innerWrap">
                                    <div class="list" ng-repeat="importantLink in importantLinks">
                                        <a href="{{importantLink.links}}" target="_blank">
                                            {{importantLink.name}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="schemes">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a class="img-holder" href="http://barc-ecs.com/parmanu.pdf" target="_blank">
                        <img src="img/home/money.svg" alt="" class="img-fluid">
                    </a>
                    <div class="fig-title text-center text-uppercase">
                        Loans
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a class="img-holder" href="http://barc-ecs.com/parmanu.pdf" target="_blank">
                        <img src="img/home/icon.svg" alt="" class="img-fluid">
                    </a>
                    <div class="fig-title text-center text-uppercase">
                        PARMANU Scheme
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a class="img-holder" href="http://barc-ecs.com/parmanu.pdf" target="_blank">
                        <img src="img/home/payment-method.svg" alt="" class="img-fluid">
                    </a>
                    <div class="fig-title text-center text-uppercase">
                        LAKHPATI Scheme
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a class="img-holder" href="http://barc-ecs.com/parmanu.pdf" target="_blank">
                        <img src="img/home/piggybank.svg" alt="" class="img-fluid">
                    </a>
                    <div class="fig-title text-center text-uppercase">
                        Bal Bhavishya Nidhi
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content_info">
        <div class="content_resalt padding-bottom borders">
            <!-- title-vertical-line-->
            <div class="title-vertical-line">
                <h2>
                    <strong>
                        <span>Loan and Scheme</span>
                    </strong>
                </h2>
                <p class="lead">A range of services are provided all under one roof. Some of the highlighted services are :</p>
            </div>
            <!-- End title-vertical-line-->

            <!-- Info Resalt-->
            <div class="paddings">
                <!-- Container Area - services-process -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- services-process -->
                            <div class="services-process">

                                <!-- item-service-process -->
                                <div class="item-service-process color-bg-2">
                                    <div class="head-service-process">
                                        <a href="deposits.html">
                                            <i class="fa fa-star"></i>
                                            <h3>DEPOSITS</h3>
                                        </a>
                                    </div>
                                    <div class="divisor-service-process">
                                        <span class="circle-top">1</span>
                                        <span class="circle"></span>
                                    </div>
                                    <div class="info-service-process">
                                        <h3>Deposit Schemes</h3>
                                        <p>BECCSL endows its customers with a wide array of short term as well as long term
                                            deposit schemes with an attractive interest...
                                            <br>
                                            <a ui-sref="schemes">read more</a>
                                        </p>
                                    </div>
                                </div>
                                <!-- End item-service-process -->

                                <!-- item-service-process -->
                                <div class="item-service-process color-bg-3">
                                    <div class="head-service-process">
                                        <a href="loans.html">
                                            <i class="fa fa-star"></i>
                                            <h3 class="text-uppercase">LOANS</h3>
                                        </a>
                                    </div>
                                    <div class="divisor-service-process">
                                        <span class="circle-top">2</span>
                                        <span class="circle"></span>
                                    </div>
                                    <div class="info-service-process">
                                        <h3>Easy Loans</h3>
                                        <p>Loans are offered to suit every individual’s requirement based on their earnings,
                                            securities and repayment capacity...
                                            <br>
                                            <a href="loans.html">read more</a>
                                        </p>
                                    </div>
                                </div>
                                <!-- End item-service-process -->
                                <!-- item-service-process -->
                                <div class="item-service-process color-bg-1">
                                    <div class="head-service-process">
                                        <a ui-sref="schemes">
                                            <i class="fa fa-star"></i>
                                            <h3 class="text-uppercase">Saving Schemes</h3>
                                        </a>
                                    </div>
                                    <div class="divisor-service-process">
                                        <span class="circle-top">3</span>
                                        <span class="circle"></span>
                                    </div>
                                    <div class="info-service-process">
                                        <h3>Saving Schemes</h3>
                                        <p>Your money is secured with us. Similarly the Safe Deposit Vault facility is provided
                                            to valued customers at various....
                                            <br>
                                            <a ui-sref="schemes">read more</a>
                                        </p>
                                    </div>
                                </div>
                                <!-- End item-service-process -->
                            </div>
                            <!-- End services-process-->
                        </div>
                    </div>
                </div>
                <!-- End Container Area - services-process -->
            </div>
            <!-- End Info Resalt-->
        </div>
    </div>
</div>