<div class="breadcrumbs breadcrumbs-sections">
    <div class="container">
        <ul class="list-unstyled">
            <li class="breadcrumbs-home">
                <a ui-sref="home" title="Back To Home">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li>Loan</li>
        </ul>
    </div>
</div>
<h1 align="center" class="lead text-uppercase text-center" style="padding:0; margin:50px 0; font-size:2rem;letter-spacing: 2px;">Loan</h1>
<div class="about">
    <div class="container">
        <div class="about-img">
            <img src="img/schemes.png" alt="" class="img-fluid">
        </div>
    </div>
    <div class="content_info">
        <!-- Info Resalt-->
        <div class="">
            <!-- title-vertical-line-->
            <div class="paddings">
                <div class="container">
                    <h2>Loan Scheme</h2>
                    <ul class="list-unstyled">
                        <li>Any further information can be obtain from the
                            <a ui-sref="contact">Society Office
                            </a>.
                        </li>
                    </ul>
                </div>

            </div>
            <!-- Info Resalt-->
            <!------For Gray BG------>
        </div>
        <!-- End Info Resalt-->
    </div>
</div>