<div class="breadcrumbs breadcrumbs-sections">
    <div class="container">
        <ul class="list-unstyled">
            <li class="breadcrumbs-home">
                <a ui-sref="home" title="Back To Home">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li>Loan</li>
        </ul>
    </div>
</div>
<h1 align="center" class="lead text-uppercase text-center" style="padding:0; margin:50px 0; font-size:2rem;letter-spacing: 2px;">Loan</h1>
<div class="about">
    <div class="container">
        <div class="about-img">
            <img src="img/schemes.png" alt="" class="img-fluid">
        </div>
    </div>
    <div class="content_info">
        <!-- Info Resalt-->
        <!-- title-vertical-line-->
        <div class="paddings">
            <div class="container">
                <h2>Loan Scheme</h2>
                <table align="center" class="table  table-hover table-responsive">
                    <thead>
                        <tr class="table-primary">
                            <td scope="col">
                                <div align="center">
                                    <strong>
                                        Scheme
                                    </strong>
                                </div>
                            </td>
                            <td scope="col">
                                <div align="center">
                                    <strong>Details</strong>
                                </div>
                            </td>
                            <td scope="col">
                                <div align="center">
                                    <strong>Maximum Limit</strong>
                                </div>
                            </td>
                            <td scope="col">
                                <div align="center">
                                    <strong>ROI (%)</strong>
                                </div>
                            </td>
                            <td scope="col">
                                <div align="center">
                                    <strong>With effect form </strong>
                                </div>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div align="center">
                                    <strong>Ordinary Loan</strong>
                                </div>
                            </td>
                            <td>
                                <div align="center">
                                    times of Shares + Subs. OR
                                    <br> 15 times of monthly pay OR
                                    <br> Rs.25,000/- per completed year of membership
                                    <br> WHICHEVER IS LESS
                                    <br> 66 MONTH RECOVERY (3790+952= 4742/-)
                                    <br> Two Sureties are required
                                </div>
                            </td>
                            <td>
                                <div align="center">
                                    2,50,000
                                </div>
                            </td>
                            <td>
                                <div align="center">
                                    9% p.a.
                                </div>
                            </td>
                            <td>
                                <div align="center">
                                    05/10/2017
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div align="center">
                                    <strong>Special Loan</strong>
                                </div>
                            </td>
                            <td>
                                <div align="center">
                                    16 times of Shares + Subs. OR
                                    <br> 30 times of monthly pay OR
                                    <br> Rs.2,00,000/- per completed year of membership
                                    <br> WHICHEVER IS LESS
                                    <br> Two Sureties are required for loan upto Rs.2,00,000/- &amp; thereafter Three Sureties
                                    are required

                                </div>
                            </td>
                            <td>
                                <div align="center">
                                    22,00,000
                                </div>
                            </td>
                            <td>
                                <ol>
                                    <li>
                                        Maximum 180 (EMI Rs.12,895/- ) Rs.12 lakhs @10%
                                    </li>
                                    <li>
                                        Above 12 lakhs upto 22 lakhs @10.5% for next 10 lakhs (EMI Rs.23,949/-)
                                    </li>
                                </ol>
                            </td>
                            <td>
                                <div align="center">
                                    05/10/2017
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div align="center">
                                    <strong>Emergency Loan</strong>
                                </div>
                            </td>
                            <td>
                                <div align="center">
                                    (The Interest rate will be charged subject to ABR of Society)
                                    <br> 90% of shares + subs.
                                    <br> 12 months recovery (4170 + 248= 4418/-)
                                    <br>
                                </div>
                            </td>
                            <td>
                                <div align="center">
                                    50,000
                                </div>
                            </td>
                            <td>
                                <div align="center">
                                    11% p.a
                                </div>

                            </td>
                            <td>
                                <div align="center">
                                    05/10/2017
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <p class="fnt-12">
                                    <strong>ADVANCE AGAINST DEPOSIT/S</strong>
                                    Notwithstanding anything contained Against Deposits in these Bye-Laws, the Managing Committee at its discretion may grant
                                    advance to a member against his deposits on the following terms and conditions: (i) The
                                    deposit receipt(s) shall be assigned in favour of the Society as security for such advance.
                                    (ii) The advance may be granted upto 80% of the deposit amount. (iii) The rate of interest
                                    on advance granted shall be 2% more than that at which the relative deposit is accepted.
                                    (iv) The advance against Deposit shall be repayable in 12 monthly installments. (v) The
                                    borrower shall give authorisation for deduction of loan installment together with interest
                                    on due date/s from his salary.
                                </p>
                                <p>Take home salary should be minimum Rs.7000/- </p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <h5> Required documents: </h5>
                <ol>
                    <li>Self attested current month’s pay-slip of borrower.
                    </li>
                    <li>In case of other than BARC unit, Self attested Borrower’s &amp; Self attested Surety’s both side Identity
                        Card Zerox.
                    </li>
                    <li>
                        Self attested bank details of borrower which can be clearly identified.
                    </li>
                </ol>




                <ul class="list-unstyled">
                    <li>Any further information can be obtain from the
                        <a ui-sref="contact">Society Office
                        </a>.
                    </li>
                </ul>
            </div>

        </div>
        <!-- Info Resalt-->
        <!------For Gray BG------>
        <!-- End Info Resalt-->
    </div>
</div>