<div class="breadcrumbs breadcrumbs-sections">
    <div class="container">
        <ul class="list-unstyled">
            <li class="breadcrumbs-home">
                <a ui-sref="home" title="Back To Home">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li>Rules and Amendments</li>
        </ul>
    </div>
</div>
<h1 align="center" class="lead text-uppercase text-center" style="padding:0; margin:50px 0; font-size:2rem;letter-spacing: 2px;">Rules and Amendments</h1>
<div class="notice-circular">
    <div class="container">
        <div class="about-img">
            <img src="img/rules.jpg" alt="" class="img-fluid">
        </div>
    </div>
    <div class="container">
        <div class="paddings">
            <div class="tab-custom">
                <h2 class="lead text-uppercase" style="padding:0; margin:10px 0; font-size:1.5rem;letter-spacing: 2px;">Rules &amp; Bye-Laws</h2>
                <table class="table table-responsive table-report">
                    <thead>
                        <tr class="table-primary">
                            <th><b>Annual Report</b></th>
                            <th><b>Download Link</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="rule in rules">
                            <td align="left">{{rule.date}}</td>
                            <td><b><a href="{{rule.englishUrl}}" target="_blank" ng-if="rule.englishUrl">English</a><br>                        
                                    <a href="{{rule.marathiUrl}}" target="_blank" ng-if="rule.marathiUrl">Marathi</a> </b></td>
                        </tr>
                        <tr>
                            <td height="15" colspan="2">
                                Related Links : <a href="amend2004.pdf" target="_blank">Proposed Amendments in 2004</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>