<div class="breadcrumbs breadcrumbs-sections">
    <div class="container">
        <ul class="list-unstyled">
            <li class="breadcrumbs-home">
                <a ui-sref="home" title="Back To Home">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li>Rules and Amendments</li>
        </ul>
    </div>
</div>
<h1 align="center" class="lead text-uppercase text-center" style="padding:0; margin:50px 0; font-size:2rem;letter-spacing: 2px;">Rules and Amendments</h1>
<div class="notice-circular">
    <div class="container">
        <div class="about-img">
            <img src="img/notice.jpg" alt="" class="img-fluid">
        </div>
    </div>
    <div class="container">
        <div class="paddings">
            <div class="tab-custom">
                <uib-tabset active="active">
                    <uib-tab index="$index + 1" ng-repeat="tab in tabs" heading="{{tab.title}}" disable="tab.disabled">
                        <table class="table table-responsive">
                            <thead>
                                <tr class="table-primary">
                                    <th><b>Date</b></th>
                                    <th><b>Details</b></th>
                                    <th><b>Download Link</b></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td align="left">27.12.2017</td>
                                    <td align="left">Regd. KYC (Download KYC Form)</td>
                                    <td><b><a href="Felicitation_form_English_March-2017.pdf" target="_blank">English</a><br>                        
                                    <a href="Felicitation_form_Marathi_March-2017.pdf" target="_blank">Marathi</a> </b></td>
                                </tr>
                            </tbody>
                        </table>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>