<div class="breadcrumbs breadcrumbs-sections">
    <div class="container">
        <ul class="list-unstyled">
            <li class="breadcrumbs-home">
                <a ui-sref="home" title="Back To Home">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li>Schemes</li>
        </ul>
    </div>
</div>
<h1 align="center" class="lead text-uppercase text-center" style="padding:0; margin:50px 0; font-size:2rem;letter-spacing: 2px;">Schemes</h1>
<div class="about">
    <div class="container">
        <div class="about-img">
            <img src="img/schemes.png" alt="" class="img-fluid">
        </div>
    </div>
    <div>
        <div class="content_info content_resalt">
            <div class="">
                <!-- Info Resalt-->
                <div class="">
                    <!-- title-vertical-line-->
                    <div class="paddings">
                        <div class="container">
                            <h2>Savings Schemes</h2>
                            <div class="row">
                                <div class="col-md-5">
                                    <h6>Savings</h6>
                                    <p>(Salary deduction Facility)</p>
                                </div>
                                <div class="col-md-2">
                                    <div class="per">
                                        4%
                                    </div>
                                </div>
                            </div>

                            <table align="center" class="table  table-hover table-responsive">

                                <thead>
                                    <tr class="table-primary">
                                        <td scope="col">
                                            <div align="center">
                                                <strong>Scheme</strong>
                                            </div>
                                        </td>
                                        <td scope="col">
                                            <div align="center">
                                                <strong>Terms</strong>
                                            </div>
                                        </td>
                                        <td scope="col">
                                            <div align="center">
                                                <strong>ROI (%)</strong>
                                            </div>
                                        </td>
                                        <td scope="col">
                                            <div align="center">
                                                <strong>With effect form </strong>
                                            </div>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div align="center">
                                                <strong>TERM DEPOSIT</strong>
                                            </div>
                                        </td>
                                        <td>
                                            <div align="center">3-6 Months</div>
                                            <div align="center">7-11 Months</div>
                                        </td>
                                        <td>
                                            <div align="center">6.50%</div>
                                            <div align="center">7.50%</div>
                                        </td>
                                        <td>
                                            <div align="center">01/12/2015</div>
                                            <div align="center">01/12/2015</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div align="center">
                                                <strong>FIX DEPOSIT</strong>
                                            </div>
                                        </td>
                                        <td>
                                            <div align="center">1 Year</div>
                                            <div align="center">2 Years</div>
                                            <div align="center">3 Years</div>
                                        </td>
                                        <td>
                                            <div align="center">9.50%</div>
                                            <div align="center">9.25%</div>
                                            <div align="center">9.00%</div>
                                        </td>
                                        <td>
                                            <div align="center">01/12/2015</div>
                                            <div align="center">01/12/2015</div>
                                            <div align="center">01/12/2015</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div align="center">
                                                <strong>RECURRING DEPOSIT</strong>
                                            </div>
                                        </td>
                                        <td>
                                            <div align="center">1 Year</div>
                                            <div align="center">2 Years</div>
                                            <div align="center">3-10 Years</div>
                                        </td>
                                        <td>
                                            <div align="center">7.25%</div>
                                            <div align="center">7.75%</div>
                                            <div align="center">8.00%</div>
                                        </td>
                                        <td>
                                            <div align="center">01/12/2008</div>
                                            <div align="center">01/12/2008</div>
                                            <div align="center">01/12/2008</div>
                                        </td>
                                    </tr>


                                </tbody>
                            </table>
                            <div class="schemes">
                                <div class="row">
                                    <div class="col-md-3 col-xs-6">
                                        <div class="img-holder">
                                            <img src="img/home/money.svg" alt="" class="img-fluid doneLoading">
                                        </div>
                                        <div class="fig-title text-center text-uppercase">
                                            Loans
                                        </div>
                                        <ul class="list-unstyled">
                                            <li>Any further information can be obtain from the
                                                <a href="http://barc-ecs.com/parmanu.pdf" class="">Society Office.</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3 col-xs-6">
                                        <div class="img-holder">
                                            <img src="img/home/icon.svg" alt="" class="img-fluid doneLoading">
                                        </div>
                                        <div class="fig-title text-center text-uppercase">
                                            PARMANU Scheme
                                        </div>
                                        <ul class="list-unstyled">
                                            <li>Rs. 525/- p.m. @9% within a span of 72 months and earn Rs. 50,000/- w.e.f 1.3.2012
                                                <a href="http://barc-ecs.com/parmanu.pdf" class="">more...</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3 col-xs-6">
                                        <div class="img-holder">
                                            <img src="img/home/payment-method.svg" alt="" class="img-fluid doneLoading">
                                        </div>
                                        <div class="fig-title text-center text-uppercase">
                                            LAKHPATI Scheme
                                        </div>
                                        <ul class="list-unstyled">
                                            <li> Rs. 1,050/- p.m. @9% within a span of 72 months and earn Rs. 1,00,000/- w.e.f
                                                1.3.2012
                                                <a href="http://barc-ecs.com/parmanu.pdf" class="">more...</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3 col-xs-6">
                                        <div class="img-holder">
                                            <img src="img/home/piggybank.svg" alt="" class="img-fluid doneLoading">
                                        </div>
                                        <div class="fig-title text-center text-uppercase">
                                            Bal Bhavishya Nidhi
                                        </div>
                                        <ul class="list-unstyled">
                                            <li> 900/- p.m. within a span of 48 months and earn Rs. 50,775/- w.e.f 1.3.2012
                                                <a href="http://barc-ecs.com/parmanu.pdf" class="">more...</a>
                                            </li>
                                            <li>1800/- p.m. within a span of 48 months and earn Rs. 1,01,550/- w.e.f 1.3.2012
                                                <a href="http://barc-ecs.com/parmanu.pdf" class="">more...</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <p> The current validity of schemes and rate of interest&nbsp; can be obtain from
                                <a href="contact.html">Society Office</a>
                            </p>
                        </div>
                    </div>
                    <!-- Info Resalt-->
                    <!------For Gray BG------>
                </div>
                <!-- End Info Resalt-->
            </div>
        </div>
    </div>
</div>