<div class="breadcrumbs breadcrumbs-sections">
    <div class="container">
        <ul class="list-unstyled">
            <li class="breadcrumbs-home">
                <a ui-sref="home" title="Back To Home">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li>Schemes</li>
        </ul>
    </div>
</div>
<h1 align="center" class="lead text-uppercase text-center" style="padding:0; margin:50px 0; font-size:2rem;letter-spacing: 2px;">Schemes</h1>
<div class="about">
    <div class="container">
        <div class="about-img">
            <img src="img/schemes.png" alt="" class="img-fluid">
        </div>
    </div>
    <div>
        <div class="content_info content_resalt">
            <div class="">
                <!-- Info Resalt-->
                <div class="">
                    <!-- title-vertical-line-->
                    <div class="paddings">
                        <div class="container">
                            <h2>Savings Schemes</h2>
                            <div class="row">
                                <div class="col-md-5">
                                    <h6>Savings</h6>
                                    <p>(Salary deduction Facility)</p>
                                </div>
                                <div class="col-md-2">
                                    <div class="per">
                                        4%
                                    </div>
                                </div>
                            </div>

                            <table align="center" class="table  table-hover table-responsive">

                                <thead>
                                    <tr class="table-primary">
                                        <td scope="col">
                                            <div align="center">
                                                <strong>Scheme</strong>
                                            </div>
                                        </td>
                                        <td scope="col">
                                            <div align="center">
                                                <strong>Terms</strong>
                                            </div>
                                        </td>
                                        <td scope="col">
                                            <div align="center">
                                                <strong>ROI (%)</strong>
                                            </div>
                                        </td>
                                        <td scope="col">
                                            <div align="center">
                                                <strong>With effect form </strong>
                                            </div>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div align="center">
                                                <strong>TERM DEPOSIT</strong>
                                            </div>
                                        </td>
                                        <td>
                                            <div align="center">3-6 Months</div>
                                            <div align="center">7-11 Months</div>
                                        </td>
                                        <td>
                                            <div align="center">6.50%</div>
                                            <div align="center">7.50%</div>
                                        </td>
                                        <td>
                                            <div align="center">16.01.2017</div>
                                            <div align="center">16.01.2017</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div align="center">
                                                <strong>FIX DEPOSIT</strong>
                                            </div>
                                        </td>
                                        <td>
                                            <div align="center">1 Year</div>
                                            <div align="center">2 Years</div>
                                            <div align="center">3 Years</div>
                                        </td>
                                        <td>
                                            <div align="center">8.5%</div>
                                            <div align="center">7.5%</div>
                                            <div align="center">7.0%</div>
                                        </td>
                                        <td>
                                            <div align="center">16.01.2017</div>
                                            <div align="center">16.01.2017</div>
                                            <div align="center">16.01.2017</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div align="center">
                                                <strong>RECURRING DEPOSIT</strong>
                                            </div>
                                        </td>
                                        <td>
                                            <div align="center">1 Year</div>
                                            <div align="center">2 Years</div>
                                            <div align="center">3-10 Years</div>
                                        </td>
                                        <td>
                                            <div align="center">7.00%</div>
                                            <div align="center">7.50%</div>
                                            <div align="center">7.75%</div>
                                        </td>
                                        <td>
                                            <div align="center">Dec.2016</div>
                                            <div align="center">Dec.2016</div>
                                            <div align="center">Dec.2016</div>
                                        </td>
                                    </tr>


                                </tbody>
                            </table>
                            <div class="schemes">
                                    <div class="row">
                                            <div class="col-md-3">
                                                <div class="img-holder">
                                                    <img src="img/home/icon.svg" alt="" class="img-fluid doneLoading">
                                                </div>
                                                <div class="fig-title text-center text-uppercase">
                                                    PARMANU Scheme
                                                </div>
                                                <ul class="list-unstyled">
                                                    <li>Rs. 560/- per month for 72 months to get Rs.50,000/- (w.e.f. Dec.2016)
                                                        <a href="parmanu.pdf" target="_blank" class="">download form</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="img-holder">
                                                    <img src="img/home/payment-method.svg" alt="" class="img-fluid doneLoading">
                                                </div>
                                                <div class="fig-title text-center text-uppercase">
                                                    LAKHPATI Scheme
                                                </div>
                                                <ul class="list-unstyled">
                                                    <li> Rs.1120/- per month  for 72 months to get Rs.1,00,000/- (w.e.f. Dec.2016)                                                
                                                        <a href="Lakhapati.pdf" target="_blank" class="">download form</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="img-holder">
                                                    <img src="img/home/piggybank.svg" alt="" class="img-fluid doneLoading">
                                                </div>
                                                <div class="fig-title text-center text-uppercase">
                                                    Bal Bhavishya Nidhi
                                                </div>
                                                <ul class="list-unstyled">
                                                    <li>Rs.900/- per month  for 48 months to get Rs.50,250/-
                                                        <a href="Balbhavishya_900.pdf" target="_blank" class="">download form</a>
                                                    </li>
                                                    <li>Rs.1800/- per month  for 48 months to get Rs.1,00,500/-
                                                        <a href="Balbhavishya_1800.pdf" target="_blank" class="">download form</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="img-holder">
                                                    <img src="img/home/recurring.svg" alt="" class="img-fluid doneLoading">
                                                </div>
                                                <div class="fig-title text-center text-uppercase">
                                                        RECURRING DEPOSIT
                                                </div>
                                                <ul class="list-unstyled">
                                                    <li>1 Year	7.00% 
                                                        <a href="Recurring.pdf" target="_blank" class="">download form</a>
                                                    </li>
                                                    <li>2 Years 7.5%
                                                        <a href="Recurring.pdf" target="_blank" class="">download form</a>
                                                    </li>
                                                    <!-- <li>3 Years	7.75%
                                                        <a href="Recurring.pdf" target="_blank" class="">download form</a>
                                                    </li> -->
                                                </ul>
                                            </div>
                                        </div>
                            </div>
                            <p> The current validity of schemes and rate of interest&nbsp; can be obtain from
                                <a ui-sref="contact">Society Office.</a>
                            </p>
                        </div>
                    </div>
                    <!-- Info Resalt-->
                    <!------For Gray BG------>
                </div>
                <!-- End Info Resalt-->
            </div>
        </div>
    </div>
</div>