<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <h5 class="footer-title"> Main Links</h5>
                <ul class="list-unstyled list">
                    <li>
                        <a ui-sref="home" class="main">Home</a>
                    </li>
                    <li>
                        <a ui-sref="about" class="main">About</a>
                    </li>
                    <li>
                        <a ui-sref="schemes" class="main">Schemes</a>
                    </li>
                    <li>
                        <a ui-sref="committee" class="main">Committee</a>
                    </li>
                    <li>
                        <a ui-sref="reports" class="main">Report</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2">
                <h5 class="footer-title">&nbsp;</h5>
                <ul class="list-unstyled list">
                    <li>
                        <a ui-sref="downloads" class="main">Downloads</a>
                    </li>
                    <li>
                        <a ui-sref="notices-circulars" class="main">Notice &amp; Circulars</a>
                    </li>
                    <li>
                        <a ui-sref="rules-amendments" class="main">Rules &amp; Amendments</a>
                    </li>
                    <li>
                        <a ui-sref="contact" class="main">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 class="footer-title">CONTACTS</h5>
                <p class="contant-link">
                    Old R-5 Shed, Behind RLG, Trombay Mumbai, 400085 (Maharastra)
                </p>
                <p>
                    <i class="fa fa-envelope mr5"></i>
                    <a href="mailto:barc.society@gmail.com">barc.society@gmail.com</a>
                </p>
                <p>
                    <i class="fa fa-phone-square mr5"></i>
                    <a href="tel:02225505470">022-2550 5469</a> /
                    <a href="tel:02225505470">022-2550 5470</a>
                </p>
                <p>
                    <i class="fa fa-phone-square mr5"></i>
                    <a href="tel:02225594985">022-2559 4985</a> /
                    <a href="tel:02225594986">022-2559 4986</a>
                </p>
                <p>
                    <i class="fa fa-fax mr5"></i>
                    <a href="tel:022-25505500">022-25505500</a>
                </p>
            </div>
            <div class="col-md-3">
                <h5 class="footer-title">Working HOURS</h5>
                <div class="opening-hours">
                    <p>Mon-Fri 10:30-16:00
                    </p>
                    <h5>Lunch Hours</h5>
                    <p>13:00 Hrs to 14:00 Hrs</p>
                    <h5>Closed On</h5>
                    <p>Saturday &amp; Sunday Closed</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="">
                    <img src="img/swach-bharat.png" alt="" class="swach-bharat img-full">
                </div>
                <div class="">
                    <img src="img/make-in-india.png" alt="" class="make-in-india img-full">
                </div>
            </div>
        </div>
        <div class="row bor-top">
            <div class="col-md-12">
                <div class="copy text-center">
                    <p>
                        Copyright &copy; {{template.year}} The BARC Employees' Co-op. Credit Society Ltd., Mumbai. All Right Resvered.
                    </p>
                </div>

            </div>
            <!-- <div class="col-md-6">
                <div class="pull-right">
                    <img src="img/swach-bharat.png" alt="" class="swach-bharat">
                    <img src="img/make-in-india.png" alt="" class="make-in-india">
                </div>
            </div> -->
        </div>
    </div>
</footer>