<header ng-controller="headerctrl" class="fixed-top" hide-on-scroll>
    <!-- <div class="full-img">
        <img src="img/header.svg" alt="">
    </div> -->
    <div class="container sm-w100">
        <nav class="navbar navbar-expand-md h15-info-bar">
            <a class="navbar-brand logo" ui-sref="home">
                <img src="img/logo.png" alt="logo">
            </a>
            <ul class="navbar-nav full-img">
                <li class="nav-item full-img">
                    <div class="display-6 m-r-10 text-center nav-text">
                        <h1 class="title">The Bhabha Atomic Research Centre Employees' Co-Op. Credit Society Ltd. Mumbai</h1>
                        <div class="pull-right fnt-07em">
                            <span class="m-r-10 mr10" style="margin-right: 20px;">(Registration. No. 29770)</span> <span class="color-blue">(ISO 9001:2015 Certified.)</span>
                        </div>
                    </div>
                </li>
            </ul>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
        </nav>
    </div>
    <nav class="navbar navbar-light navbar-expand-md bg-color">
        <div class="container sm-w100">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto" ng-include="template.menu"></ul>
            </div>
        </div>
    </nav>
</header>