<header ng-controller="headerctrl">
    <nav class="navbar navbar-light navbar-expand-sm fixed-top">
        <div class="container">
            <!--<div class="hamburger pointer" ng-click="getnav();">
                <div class="menu-line">
                    <span class="icon-bar box-shadow {{onebar}}"></span>
                    <span class="icon-bar box-shadow {{secondbar}}"></span>
                    <span class="icon-bar box-shadow third-line {{thirdbar}}"></span>
                </div>
            </div>-->
            <a class="navbar-brand" ui-sref="home"><img src="img/logo.png" alt="logo" width="80"></a>
            <!--<div>
                <h4>
                    B. A. R. C. Employees' Cooperative Credit Society Ltd. Mumbai
                </h4>
            </div>-->
            <div class="collapse navbar-collapse" id="nav-collapse">
                <ul class="navbar-nav mr-auto" ng-include="template.menu"></ul>
            </div>
        </div>
    </nav>
</header>