<header ng-controller="headerctrl" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg h15-info-bar">
            <a class="navbar-brand" ui-sref="home">
                <img src="img/logo.png" alt="logo" width="120">
            </a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#h15-info" aria-controls="h15-info"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="sl-icon-options-vertical"></span>
            </button>
            <div class="navbar-collapse collapse" id="h15-info" style="">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link">
                            <div class="display-6 m-r-10">
                                <h1 class="text-uppercase title">The Bhabha Atomic Research Centre </h1>
                                <h1 class="text-uppercase title">Employees' Co-Operative Credit Society Ltd. Mumbai</h1>
                                <div class="text-uppercase">
                                    Regd. No. 29770
                                </div>
                            </div>
                        </a>
                    </li>
                    <!--<li class="nav-item">
                        <a class="nav-link">
                            <div class="display-6 m-r-10"><i class="icon-Location-2"></i></div>
                            <div><small>Old R-5 Shed, Behind RLG, <br> Trombay
                            Mumbai, 400 085 (Maharastra)                             
                            </small></div>
                        </a>
                    </li>-->
                    <!--<li class="nav-item">
                        <a class="nav-link">
                            <small>Regd. No.</small>
                            <div><h6> 29770</h6>
                            </div>
                        </a>
                    </li>-->
                </ul>
            </div>
        </nav>
    </div>
    <nav class="navbar navbar-light navbar-expand-sm bg-color">
        <div class="container">
            <div class="collapse navbar-collapse" id="nav-collapse">
                <ul class="navbar-nav mr-auto" ng-include="template.menu"></ul>
            </div>
        </div>
    </nav>
</header>